/* Media query for small mobile screens (my iPhone SE specifically...) to ensure that target containers do get a padding */
@media screen and (max-width: 1023px) and (min-width: 319px) {
    .is-small-screen-container {
        padding: 10px;
    }
}

.is-readonly {
    user-select: none;
}

#page-busy-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,0%,0.5);
    z-index: 5;
    display: none;
    pointer-events: none;
    -ms-touch-action: none;
    touch-action: none;
}

    #page-busy-overlay.show {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #page-busy-overlay .loading {
        color: #fff;
        text-align: center;
    }

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

html.page-busy, html.page-error {
    overflow: hidden;
    pointer-events: none;
    -ms-touch-action: none;
    touch-action: none;
}

#page-error-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,0%,0.5);
    z-index: 5;
    display: none;
    pointer-events: none;
    -ms-touch-action: none;
    touch-action: none;
}

    #page-error-overlay.show {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #page-error-overlay .error {
        width: 100%;
        color: #fff;
        text-align: center;
        background-color: hsla(0, 100%, 50%,0.25);
    }

        #page-error-overlay .error .cutesy-error-shit {
            font-size: 2rem;
        }


#marker-details {

}
    #marker-details .charity-entry {
    }
        #marker-details .charity-entry:not(:last-child) {
            border-bottom: 1px solid hsl(0, 0%, 50%)
        }