<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
<link href="~/css/site/mapbox.css" rel="stylesheet" />
<div id="mapbox-container">
</div>
<div id="info"></div>
@section Scripts {
    <script type="text/javascript" src="~/js/Maps/map.js"></script>
}
