@using Nulah.ChugThis.Models;
@{
    ViewData["Title"] = "Login";
    Provider[] Providers = (Provider[])ViewData["Providers"];
}
<h2>Login</h2>
<environment names="Development">
    <a class="button" href="~/Login/GitHub-Dev" style="color: #fff !important; background-color:#333; border-color:#39424a">
        <span class="icon"><i class="fa fa-github"></i></span>
        <span class="has-text-weight-bold">
            GitHub - Dev
        </span>
    </a>

    <a class="button" href="~/Login/Facebook-Dev" style="color: #fff !important; background-color:#3b5998; border-color:#496bb2">
        <span class="icon"><i class="fa fa-facebook"></i></span>
        <span class="has-text-weight-bold">
            Facebook - Dev
        </span>
    </a>
</environment>
<environment exclude="Development">
    <a class="button" href="~/Login/Facebook" style="color: #fff !important; background-color:#3b5998; border-color:#496bb2">
        <span class="icon"><i class="fa fa-facebook"></i></span>
        <span class="has-text-weight-bold">
            Facebook
        </span>
    </a>
</environment>
@*
        Come back to this later - still lacking a few key things like setting the right colour + icon.
        Probably do some work on setting these details in the controller or something. Just as long as it's not in appsettings.json.
    @foreach(var provider in Providers) {
        <a class="button" href="~/Login/@provider.AuthenticationScheme" style="color: #fff !important; background-color:#333; border-color:#39424a">
            <span class="icon"><i class="fa fa-github"></i></span>
            <span class="has-text-weight-bold">
                @provider.AuthenticationScheme
            </span>
        </a>
    }
*@
