<div class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    About ChugThis
                </h1>
                <h2 class="subtitle">
                    Swear words? You got it
                </h2>
            </div>
        </div>
    </section>
</div>