<div class="container">
    <section class="section">
        <div class="container">
            <h1 class="title">
                About ChugThis
            </h1>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">What?</h1>
            <div class="content">
                <p>
                    Short and simple, this is a tool to help you help others by marking where charity workers and other annoyances are currently active, so they can plan to not go anywhere near them
                    on the way to work, or food, or coffee, or whatever.
                </p>
                <p>
                    Tap the map to add a marker (after logging in), and feel free to tick any check boxes on how they were - no one but you and me will be able to see this data publically (and I only have
                    visibility from aggregated stats, sure I can dig through the database but I'm a terrible programmer so that's a big mess that is more effort than its worth. Plus I don't care enough to
                    dob you in to the internet police for having opinions about things!).
                </p>
                <p>
                    Markers stay live on the map for 5 hours from adding a marker, with the biggest markers being added first, shrinking in size each hour.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Why?</h1>
            <div class="content">
                <p>
                    This project came about from my daily life in the lovely city of Brisbane, Queensland Australia.
                    I live close to the city, as such I do a lot of walking to and from work, or shopping, or whatever I might be doing. This is fine, except for the George St wind,
                    or the intersections with crossing timers tuned to the speed of light before they turn red.
                </p>
                <p>
                    Whatever the reason, I'm on the walk a lot, so I know the footpaths well enough to know which ones are cracked bad enough to trip me up if I'm not paying attention, and
                    which foot paths are barely wide enough for 1 person, let alone that <em>lovely</em> lady with the double width pram, <em>good on you for making sure you can get both your kids out.</em>
                </p>
                <p>
                    So because of all that walking, I've come to know roughly where the hotspots for annoyances such as pamphlet pushers (Uber Eats, Foodora, &lt;Insert gig economy here&gt;); charity workers (chuggers);
                    non-annoying charities ("passive" charity workers such as Epilepsy Queensland); the really obnoxious charity muggers with the coin boxes (intersection of Elizebeth and Albert St);
                    and basically anything else that wants to get your attention so they can eventually get your money, for a "good" cause or otherwise.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">I have a complaint</h1>
            <h2 class="subtitle">I don't like this tool/I think you're a horrible person!</h2>
            <div class="content">
                <p>
                    Ok cool.
                </p>
                <p>
                    Seriously, I don't really care, if it bothers you that much, you can use this tool to <em>find charities</em>.
                    Just for you, the person who thinks I'm horrible because I've made a tool to avoid people who are <span title="full of shit with a complex">totally trying to help the world</span>,
                    I've even included a way to <em>search for the charities you care about</em>, and even maintain a list of charities as they appear on here from user submissions just
                    so you can go <em>directly to their website and donate or find other ways to help them.</em>
                </p>
                <p>
                    Aren't I nice to do that?
                </p>
                <p>
                    No, Not really, but it's only fair to provide a means for those who legitimately want to help to either find workers to sign up, or directly go to the charities.
                    This isn't a guilt thing. I really don't care what you do with your money, I used to be a croupier so money is largely meaningless to me now. If you want to donate to charity,
                    go for it. Don't want to? Don't. Want to donate to charity, and then put my name on it to spite me? Go ahead! It's still your money you're spending, and it doesn't affect me personally,
                    so who's really getting the last laugh here?
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="title">I'm from a charity and have legal papers to serve you!</h2>
            <div class="content">
                <p>
                    Ok cool.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">I've read this far and want to contribute to you/Donate to you/Help you out</h1>
            <h2 class="subtitle">Whats your Patreon/PayPal/BitCoin Wallet Address (lol)</h2>
            <div class="content">
                <p>
                    Again, cool.
                </p>
                <p>
                    This site costs money, everything in life does. Generally I plan to support this out of my own pocket, however, if it catches on and does start to cost me more than I can
                    afford, I'll set up something so you can contribute.
                </p>
                <p>
                    If you <em>really</em> want to support me, the map tool I use, MapBox, is a <a href="https://www.mapbox.com/pricing/">bit expensive to maintain</a> (pay as you go plan).
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Request Type</th>
                            <th>Base Requests/month</th>
                            <th>Cost After Base Requests/Month</th>
                            <th>Currently Used</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://www.mapbox.com/help/define-map-view/">Map Views</a></td>
                            <td>50,000</td>
                            <td>$0.50 per 1000</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.mapbox.com/help/define-geocoding/">Geocode Requests</a></td>
                            <td>50,000</td>
                            <td>$0.50 per 1000</td>
                            <td>Not Currently</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.mapbox.com/help/define-directions-api/">Direction Requests</a></td>
                            <td>50,000</td>
                            <td>$0.50 per 1000</td>
                            <td>No Plans To</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    So that 50k free per month can quickly disappear. Assuming I <em>somehow</em> end up popular enough to hit that base limit twice, I'm out $25 a month. It's not that much, so I'm not
                    too worried about going bankrupt from it, however, it's the one thing I can't predict the cost of. Hosting is easy for me, I can spin up new boxes when needed (No I'm not with AWS or Azure,
                    they have their own expenses which cost many many times over what I currently pay).
                </p>
                <p>
                    So if you're super keen on giving money for nothing in return (except knowing you're actually helping everyone by keeping the site going), then head on over to my <a href="https://www.patreon.com/PascalNulah">Patreon</a>.
                </p>
                <p>
                    If not, I don't care, I won't charge for access to the site (past the cost of having a Facebook account - sorry about that, but if my shit gets breached I'd rather they <em>don't</em> have your personal details, or a password hash),
                    and I'll never put ads on the site.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="title">I don't have Facebook</h2>
            <h2 class="subtitle">You might find using this site past viewing markers a little bit difficult</h2>
            <div class="content">
                <p>
                    It sucks, but I'm not storing user passwords on my own. Other, smarter people can do that.
                </p>
                <p>
                    Just make a fake facebook account, with a fake throw away email address. I don't care what hang ups you have about facebook, but I won't stop you from using a 0 friends Facebook account.
                </p>
            </div>
            <h2 class="title">But what do you store when I login with Facebook?</h2>
            <div class="content">
                <p>
                    Your public Facebook name, and your Facebook ID. No one will be able to publically see these details through any API.
                </p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">I've got a suggestion for the site!</h1>
            <div class="content">
                <p>
                    Cool, love to hear it, I'm <a href="https://www.reddit.com/user/pascal_nulah">u/pascal_nulah</a> over on reddit, feel free to sling me a message through there.
                    I'll try my best to respond where I can.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">How about some code?</h1>
            <div class="content">
                <p>
                    <a href="https://github.com/ZacMillionaire/ChugThis">Github</a>
                </p>
                <p>
                    I don't really mind contributions (my code is <em>far</em> from perfect), however I'm not currently at the stage to be considering pull requests. It's not to say don't, by all means fork and branch away,
                    but without me telling you how to set it up as it is you won't get far. This isn't me being elitist, I've just honestly not got around to properly writing a guide on how to stand it up, if someone asks and
                    they get it working from my instructions I'll just copy and paste it into the Readme.md file and go from there.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">The site design is terrible</h1>
            <div class="content">
                <p>
                    Yes.
                </p>
                <p>
                    I'm not really a front end dev. As you can see, I can do it, but that 700 loc map.js file is telling you that I'm probably not the best person for it! Updating the design is on my list, however I'd much prefer
                    someone who isn't blind guide me and assist with it.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Employment Opportunities</h1>
            <h2 class="subtitle">You want me to work for you?</h2>
            <div class="content">
                <p>
                    Swing me a message on <a href="https://www.linkedin.com/in/scott-schultz-39252b5b/">LinkedIn</a>.
                </p>
            </div>
        </div>
    </section>
</div>