<div class="container">
    <section class="section">
        <div class="container">
            <h1 class="title">
                About ChugThis
            </h1>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">What?</h1>
            <div class="content">
                <p>
                    Short and simple, this is a tool to help you help others by marking where charity workers and other annoyances are currently active, so they can plan to not go anywhere near them
                    on the way to work, or food, or coffee, or whatever.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Why?</h1>
            <div class="content">
                <p>
                    This project came about from my daily life in the lovely city of Brisbane, Queensland Australia.
                    I live close to the city, as such I do a lot of walking to and from work, or shopping, or whatever I might be doing. This is fine, except for the George St wind,
                    or the intersections with crossing timers tuned to the speed of light before they turn red.
                </p>
                <p>
                    Whatever the reason, I'm on the walk a lot, so I know the footpaths well enough to know which ones are cracked bad enough to trip me up if I'm not paying attention, and
                    which foot paths are barely wide enough for 1 person, let alone that <em>lovely</em> lady with the double width pram, <em>good on you for making sure you can get both your kids out.</em>
                </p>
                <p>
                    <strong>Enter the charity workers.</strong>
                </p>
                <p>
                    These <em>fine, upstanding citizens</em> are usually out trying to drum up interest for whatever charity they're working for, so they can get their pay at the end of the day, and whats the best
                    way to get someones attention? Well obviously it's <del>
                        standing to the side and politely greeting people who walk past; not blocking the small paths; being considerate to people
                        who are busy by not commenting in a cutesy way like; "Hello, Hi, I am here. No? Ok, thanks for ignoring me have a nice day!"; in a hurry or on the phone;
                        or otherwise not interested in talking as they go from point A to B
                    </del>, <em>
                        to stand in the middle of the path flailing about trying to get anyone to pitch their own personal
                        views on the matter their standing for <del>and not just repeating the spiel they were told to.</del>
                    </em>
                </p>
                <p>
                    Basically, these <em>fine, upstanding citizens</em> have 1 goal, and thats to corner as many people as possible, with whatever tactics they can to either guilt or otherwise
                    get someone long enough that they can start their act. Usually it's some noble goal like, "for less than a cup of coffee a day you can save a poor [starving child|sweat shop worker|small nation]"
                    for those playing at home, the average price of a medium coffee in brisbane is $4, which is a lot when most office workers have 2-3 a day. Or something else like the rainforests, animals,
                    or something equally defenseless when faced with the might of the on going need for humanity to unfortunately keep surviving by making the most of the resources we have.
                </p>
                <p>
                    I'm not defending these horrible things that happen, for what its worth, the world sucks, everyone is horrible, and no one actually cares about the future we live for the future. I'm
                    working to better the small world I live in, instead of trusting in charities who are known to spend most of their donations on paying people to...bring in more donations...that's a bit odd.
                </p>
                <p>
                    Anyway, I could go on for ages about these <em>fine, upstanding citizens</em>, but I'll cut it short, you can do a search and find out if your charity is actually helping with
                    the money you give them, or if they're actually <abbr title="Green Peace, PETA">garbage</abbr> in your own time, I'm not here to preach on whether you should or shouldn't donate to charity.
                    Do whatever works for you, I don't earn money <em>directly</em> from this site. Indirectly I gain exposure by virtue of having my name attached,
                    however I'm not making any profit off you through analytics or ads. I've even made sure that there aren't any
                    <abbr title="Analytic Tracking Bullshit">social media buttons or third party resources</abbr> loaded. Everything is loaded from this domain <em><strong>except for MapBox</strong></em>.
                    I've done my best to make sure they don't do anything <abbr title="underhanded">clever</abbr> with your personal data.
                </p>
                <p>
                    I made this tool to feel vindicated about the <em>fine, upstanding citizens</em> who block foot paths, or even the bikeway strip across the Goodwill Bridge (Yes, this means you Green Peace).
                    I wanted a way that let people mark on a map where they've seen a charity worker or other equally annoying group and rate how annoying they are, so that others can plan ways around them to
                    go from point A to point B.
                </p>
                <p>
                    But wait! Couldn't the charities just use this site to know hot spots that people avoid, and move their <em>fine, upstanding employees</em> to another, yet unknown location?
                </p>
                <p>
                    <em>Yes,<strong> absolutely</strong></em>, but any charity that would move their <em>fine, upstanding employees</em> on the fly like that are absolutely not in it to help others,
                    but to line their own pockets. Plus you can just go ahead and mark their new location on the map, and if you know they were previously somewhere else, tick the, "Roaming", check box
                    and they'll get a nice big indicator to further highlight that their charity is out for money, not kindness.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">I have a complaint</h1>
            <h2 class="subtitle">I don't like this tool/I think you're a horrible person!</h2>
            <div class="content">
                <p>
                    Ok cool.
                </p>
                <p>
                    Seriously, I don't really care, if it bothers you that much, you can use this tool to <em>find charities</em>.
                    Just for you, the person who thinks I'm horrible because I've made a tool to avoid people who are <abbr title="full of shit with a complex">totally trying to help the world</abbr>,
                    I've even included a way to <em>search for the charities you care about</em>, and even maintain a list of charities as they appear on here from user submissions just
                    so you can go <em>directly to their website and donate or find other ways to help them.</em>
                </p>
                <p>
                    Aren't I nice to do that?
                </p>
                <p>
                    No, Not really, but it's only fair to provide a means for those who legitimately want to help to either find workers to sign up, or directly go to the charities.
                    This isn't a guilt thing. I really don't care what you do with your money, I used to be a croupier so money is largely meaningless to me now. If you want to donate to charity,
                    go for it. Don't want to? Don't. Want to donate to charity, and then put my name on it to spite me? Go ahead! It's still your money you're spending, and it doesn't affect me personally,
                    so who's really getting the last laugh here?
                </p>
            </div>
            <h2 class="title">I'm from a charity and have legal papers to serve you!</h2>
            <div class="content">
                <p>
                    Ok cool.
                </p>
            </div>
            <h1 class="title">I've read this far and want to contribute to you/Donate to you/Help you out</h1>
            <h2 class="subtitle">Whats your Patreon/PayPal/BitCoin Wallet Address (lol)</h2>
            <div class="content">
                <p>
                    Again, cool.
                </p>
                <p>
                    This site costs money, everything in life does. Generally I plan to support this out of my own pocket, however, if it catches on and does start to cost me more than I can
                    afford, I'll set up something so you can contribute.
                </p>
            </div>
            <h1 class="title">I'm someone who could sponsor you</h1>
            <div class="content">
                <p>
                    Sounds like advertising. If you're willing to sponsor me knowing that I'll never let you have any analytic access (I'll tell you how many page views I get and that'll be it),
                    and that anything you want to show to users will have to follow my strict rules.
                </p>
                <p>
                    What are my strict rules? <a href="~/About/Sponsor">Click here to find out.</a>
                </p>
            </div>
        </div>
    </section>
</div>