<div class="container">
    <section class="section">
        <div class="container">
            <h1 class="title">
                Sponsor ChugThis
            </h1>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">So you want to be a sponsor?</h1>
            <h2 class="subtitle">Get ready for fun</h2>
            <div class="content">
                <p>
                    Sponsoring me is easy, you say you want to sponsor me, you pay me <strong>up front</strong>, and once I've confirmed payment, your sponsorship will be plastered
                    all over the site.
                </p>
                <p>
                    I'm lying about that last part though, here is what you'll get from being a sponsor:
                    <ul>
                        <li>A small, out of the way, still image banner</li>
                        <li>A link to your site</li>
                        <li>The link will be striped of all tracking and url parameters</li>
                        <li>Absolutely no JavaScript</li>
                        <li>No analytics</li>
                    </ul>
                    Basically, you'll have no control past giving me your banner image and a link to go with it. It'll be up to me where it's seen. Your banner or whatever will
                    be visible on the top of every page, that is the only guarantee. Of course, if users block your banner it's not my problem, I run uBlock origin myself
                    and block all ads everywhere. Don't like it? Don't care.
                </p>
                <p>
                    However, I can guarantee is that the banner will be hosted from my domain, so it won't be in any default ad blocking lists (to begin with). Here are
                    some other ways your sponsorship might not be seen:
                    <ul>
                        <li>The user is tech savvy, and has a custom uBlock rule/some other extension set up to block the element your sponsorship is in.</li>
                    </ul>
                    Yep thats it. If the user doesn't want to see it I'm not going to do underhanded bullshit just so you're happy. If I don't have users, you don't have views. Don't like it? See above.
                </p>
                <p>
                    "Wow this sounds like a great idea, where do I sign up!", optionally you're rolling your eyes at this and going elsewhere.
                </p>
                <p>
                    If you're actually still interested, for some weird reason, maybe this final list will convince you otherwise:
                    <ul>
                        <li>The amount you contribute, how long you contribute for, and how often you pay will be publically visible from a sponsorship page</li>
                    </ul>
                    Hey, that sounds kind of shit! And possibly illegal!
                </p>
                <p>
                    Ok, go somewhere else then? For what its worth though, once you're on that list, you'll be there forever. Sorted by amount contributed, with a link to your site.
                </p>
                <p>
                    And you won't even have to pay anything more for that free advertising on a page no one will probably ever go to.
                </p>
                <p>
                    Still interested? Ok then. Swing me an <a href="mailto:scootschultz@gmail.com">email</a> and we'll go from there. Non-serious sponsorship values will be flat out ignored.
                </p>
                <p>
                    ...
                </p>
                <p>
                    "You sound awfully hostile about this, also rude and I don't like you. Advertising is good for users and advertising helps developers by paying fo-"*faaaaaaaaaaaaaaaaaaaaaaaaaaaart*
                </p>
                <p>
                    Internet advertising sucks, it's annoying, garbage, drains battery and mobile data, and no one fucking likes it. "Oh man, I sure am glad Google knows everything I do so it can turn my
                    personal information into a profit, and thinly veil it as a good thing for me because WOW, LOOK AT THE SAVINGS I'M GETTING".
                    If you're willing to sponsor after reading this, chances are you aren't a piece of shit, and probably have a product that isn't fucking useless or annoying.
                </p>
                <p>
                    I'll still be the judge about that last point. If what you're pushing is lazy, shit, terrible, or garbage, then I won't care how much you offer. I encourage you to develop a better site
                    than this (won't be hard to do), and push your stuff on there.
                </p>
            </div>
        </div>
    </section>
</div>