#mapbox-container {
    width: 100%;
    height: 80%;
    background-color: #aaa;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

    #mapbox-container.small-view {
        height: 50%;
        width: 50%;
    }

    #mapbox-container .charity-marker {
        cursor: pointer;
    }

        #mapbox-container .charity-marker.recent {
            border: 1px solid hsl(0, 100%, 50%);
            cursor: pointer;
        }

    #mapbox-container .add-charity-marker {
        width: 25px;
        height: 25px;
        border-radius: 25px;
        cursor: pointer;
        background-color: hsl(180, 100%, 50%);
    }

html {
    height: 100%;
}

body {
    height: 100%;
}
