#mapbox-container {
    width: 100%;
    height: 80%;
    background-color: #aaa;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

    #mapbox-container.small-view {
        height: 50%;
        width: 50%;
    }

    #mapbox-container .custom-marker-CHANGEME {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
    #mapbox-container .add-marker-CHANGEME {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        cursor: pointer;
    }

html {
    height: 100%;
}

body {
    height: 100%;
}
